header{
    background-image: url(/images/banner.jpg);
    background-size: cover;
    min-height: 400px;
}

#gem{
    width: 75px;
    height: 75px;
    padding: 8px;
}

main{
    background-color: #eee;
}

.articleInfo{
    height: auto;
}


.photoGallerie{
    width: 700px;
}

.info{
    max-width: 1000px;
    margin: auto;
}

aside{
    width: 500px;
}

.formulaire{

    width: 500px;

}